{
  "extends": "@antfu",
  "rules": {
    "no-use-before-define": "off",
    "no-unused-vars": "off",
    "no-console": false,
    "@typescript-eslint/no-use-before-define": ["off"],
    "@typescript-eslint/no-unused-vars": ["off"]
  }
}
